.bg-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-heading {
  color: #ea580c;
  font-family: roboto;
  font-size: 65px;
  font-weight: 500;
}
.form-container {
  width: 500px;
  min-height: 250px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  border-radius: 10px;
  padding: 70px;
  display: flex;
  flex-direction: column;
}
.label {
  color: #475569;
  font-family: roboto;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}
.username-input {
  height: 38px;
  width: 100%;
  font-family: roboto;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid #9aa5b1;
  border-radius: 5px;
  padding-left: 15px;
  margin-bottom: 30px;
  outline: none;
}
.wrong-input {
  outline: 1px solid #ff0b37;
  background-color: #fef2f4;
  height: 38px;
  width: 100%;
  font-family: roboto;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
  border-width: 0px;
  padding-left: 15px;
  margin-bottom: 0px;
}
.error-message {
  color: #ff0b37;
  margin: 0px;
  margin-bottom: 30px;
}
.button {
  color: #ffffff;
  background-color: #ea580c;
  min-width: 80px;
  min-height: 36px;
  font-family: roboto;
  font-size: 14px;
  font-weight: 400;
  border-width: 0px;
  border-radius: 8px;
  align-self: center;
  padding-left: 20px;
  padding-right: 20px;
}
.success-image {
  height: 90px;
  width: 90px;
  align-self: center;
}
.success-message {
  font-family: roboto;
  font-size: 20px;
  font-weight: 600;
  align-self: center;
  margin-top: 25px;
  margin-bottom: 50px;
}
